.evalTemp
{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-item:center;
	width:100%;
}

.evalTemp
 section.headEval
{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-content:center;
	align-item:center;
	order:1;
	flex:1 1 0px;
	align-self: stretch;
}

.evalTemp
 section.tempBody
{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-content:center;
	align-item:center;
	order:2;
	flex:initial;
	align-self: stretch;
}

.evalTemp
 section.tempBody section.courseContainer
{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-item:center;
	order:1;
	flex:0 1 auto;
	align-self: flex-start;
	width:50%;
}

.evalTemp
 section.tempBody section#dateInput
{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-item:center;
	order:2;
	flex:initial;
	align-self: stretch;
	display:none;
	width: 50%;
}

.evalTemp
 section.tempBody section#dateInput section.makeEv
{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-item:center;
	order:1;
	flex:initial;
	align-self: center;
	width: 90%;
}


.evalTemp
 section.tempBody section#dateInput section.makeEv section.startDate
{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-item:center;
	order:2;
	flex:initial;
	align-self: center;
	width: 90%;
}

.evalTemp
 section.tempBody section#dateInput section.makeEv section.endDate
{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-item:center;
	order:3;
	flex:initial;
	align-self: center;
	width: 90%;
}

.evalTemp
 section.tempBody section#dateInput section.makeEv section.makeEvHeading
{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-item:center;
	order:1;
	flex:initial;
	align-self: center;
	width: 90%;
}

.evalTemp
 section.tempBody section#dateInput section.dateButton
{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-item:center;
	order:3;
	flex:initial;
	align-self: center;
}

.templates
{
	margin-bottom:20px;
	height: 50px;
	width: 80%;
	border-radius: 20px;
	background-color: #3498DB
;
	cursor:default;

}

.templateText
{
	text-align: center;
	color: white;
	cursor:default;
}

.myTempsHeading
{
	color: #3498DB;
}