h3
{
	color: #1ABC9C;
}

.loginInput
{
	display: flex;
	flex-flow: column nowrap  ;
	justify-content: center ;
	align-content: center;
	align-items: center;
}

.loginInput section.welcome
{
	order: 1;
	flex: 0 1 auto;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}

.loginInput section.loginForm section.loginUsername
{
	order: 2;
	flex: 0 1 auto;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}

.loginInput section.loginForm section.loginPassword
{
	order: 3;
	flex: 0 1 auto;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}


.loginInput section.btn btn-info
{
	order: 4;
	flex: 0 1 auto;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}

.loginInput section.loginError
{
	order: 5;
	flex: 0 1 auto;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}


.form-control
{
	margin-bottom: 10px;
}

#loginError
{
	color: red;
}
