<div ng-controller="myCoursesController">
	<section class="courseContainer">

		<section id="userInfo" class="alert alert-info">
			<img class="userImage" src="{{userObject.ImageURL}}" alt="image" onerror="this.src='/images/avatar.png'"/>
			<section class="userInfoText">
				<h5>{{userObject.FullName}}</h5>
				<h6>{{userObject.SSN}}</h6>
			</section>
		</section>

		
		<section id="courseInstance" ng-repeat="course in myCourses" ng-click="goToEval(course.CourseID)">
			<h6 class="courses">{{course.NameIS}}</h6>
		</section>


	</section>
</div>