<section ng-controller="AdminGetEvaluationsController">
	<section class="courseContainer">
		
		<section class="createHead">
			<a href="#/admin">
				<button class="btn  btn-warning"  type="button" ng-click="sendEvaluation()"> Fara til baka </button>
			</a>

			<a href="#/">
				<button class="btn  btn-danger"  type="button" ng-click="sendEvaluation()"> Útskráning </button>
			</a>
		</section>

		<h4>Tölfræði fyrir kennslumöt</h4>
		<section class="alert alert-success" id="courseInstance" ng-repeat="eval in allEvaluations" ng-click="goToEvaluation(eval.ID)">
			<h7>{{eval.TemplateTitleIS}}</h7>
		</section>


	</section>
</section>