<section ng-controller="AdminMainController">
	<section class="courseContainer">

		<section class= "admHead">

			<section class="logoutAdmin">
				<a href="#/">
					<button class="btn  btn-danger"  type="button" ng-click="sendEvaluation()"> Útskráning </button>
				</a>
			</section>

			<section id="userInfo">
				<img class="userImage" src="{{userObject.ImageURL}}" alt="image" onerror="this.src='/images/avatar.png'"/>
				<section class="userInfoText">
					<h5 class="userHeader">{{userObject.FullName}}</h5>
					<h6 class="userHeader">{{userObject.SSN}}</h6>
				</section>	
			</section>

		</section>

		<section class = "getTemp">
			<a href="#/evaluationtemplates">
				<section class="adminOption" >
					<h6 class = "option">Mín sniðmát</h6>
				</section>
			</a>
		</section>
			
		<section class= "createTemp">
			<a href="#/createtemplate">
			<section class="adminOption" >
				<h6 class = "option">Búa til sniðmát</h6>
			</section>
			</a>
		</section>	

		<section class= "stats">
			<a href="#/statistics">
			<section class="adminOption" >
				<h6 class = "option" >Tölfræði</h6>
			</section>
			</a>
		</section>

	</section>
</section>