
<div ng-controller="AdminCreateTemplateController" class="createTemplateContainer">

	<section class="left">
	
		<section class="top">

			<form class="templateForm">
				<input type="text"
					class="form-control"
					id="textInput"
					placeholder="Titill"
					ng-model="evaluationTemplate.TitleIS"
					required
					ng-maxlength="50"/>
				<input type="text"
					class="form-control"
					id="textInput"
					placeholder="Lýsing"
					ng-model="evaluationTemplate.IntroTextIS"
					required
					ng-maxlength="50"/>
			</form>

		</section>

		<section class="middle">
			<section class="catagory">
				<label class="radio">
					<input type="radio" name="catagory" value="Course">Course<br>
				</label>
				<label class="radio">
					<input type="radio" name="catagory" value="Teacher">Teacher<br>
				</label>
			</section>

			<section class"textQuestion">
				<p>Textaspuring:</p>
				<input type="text"
					class="form-control"
					id=""
					placeholder="Hér kemur spurningin."
					
					requied
					ng-maxlength=""/>
				<button class="btn btn-embossed btn-primary"  type="button"> Vista spuringu </button>
			</section>
			<section class"exQuestion">
				<p>Krossapuring:</p>
				<input type="text"
					class="form-control"
					id=""
					placeholder="Hér kemur spurningin."
					
					requied
					ng-maxlength=""/>
				<select id = "numberOfexQuestion" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="dropdown-arrow"></span>
           			<option value="2">2</option>
           			<option value="3">3</option>
           			<option selected="selected" value="4">4</option>
            		<option value="5">5</option>
			        <option value="6">6</option>
          		</select>
				<input type="text" ng-repeat="numberOfexQuestion in numberOfexQuistions"
					class="form-control"
					id=""
					placeholder="Hér spuring fyrir kross "{{numberOfexQuestion}}"."
					
					requied
					ng-maxlength=""/>

				<button class="btn btn-embossed btn-primary"  type="button"> Vista spuringu </button>
			</section>
		</section>

	</section>

	<section class="right">

		<section class="courseList">

		</section>

		<section class="teacherList">

		</section>

	</section>
</div>



<section class="textQuestion">
	<textarea rows="10" cols="112" ng-model="CourseQuestions.TextIS"></textarea>
	<button  class="btn btn-embossed btn-primary" type="submit" ng-click="hideCourseTextQuestion()" >save</button>
</section>