<section ng-controller="AdminCreateTemplateController" class="createTemplateContainer">

	<section class="left">
	
		<section class="top">

			<form class="templateForm">
				<section class="tempName">
					<h7>Nafn smiðmátsins: </h7>
					<input type="text"
						class="form-control input-sm"
						placeholder="Titill "
						ng-model="evaluationTemplate.TitleIS"
						required
						ng-maxlength="50"/>
				</section>	

				<section class="tempInfo">
					<h7>Lýsing á sniðmátinu: </h7>
					<input type="text"
						class="form-control input-sm" 
						placeholder="Lýsing"
						ng-model="evaluationTemplate.IntroTextIS"
						required
						ng-maxlength="50"/>
				</section>		
			</form>
		</section>


		<section class="middle">
			<section class="catagory">
				<section class = "courseRadio">
					<label class="radio">
						<input type="radio" name="catagory" id="courseCheck">Course<br>
					</label>
				</section>
				<section class = "teacherRadio">
					<label class="radio">
						<input type="radio" name="catagory" id="teacherCheck">Teacher<br>
					</label>
				</section>
			</section>

			<section class="tQuest">
				
					<h7>Textaspurning:</h7>
					<textarea class="form-control input-sm" rows="2" ng-model="CTextIS"></textarea>
				<section class = "saveTextQuest">
					<button class="btn btn-primary"  type="button" ng-click="saveText()"> Vista spurningu </button>
				</section>

			</section>

			<section class = "xQuest">
				
				<h7>Krossapurning:</h7>
				
				<section class="textExQuest">
					<input type="text"
					class="form-control input-sm"
					id=""
					placeholder="Hér kemur spurningin."
					ng-model="CMTextIS"
					requied
					ng-maxlength=""/>
				</section>

				<section class="numEx">
					<input type="text"
					class="form-control input-sm"
					placeholder="fjöldi krossaspurninga"
					requied
					ng-maxlength="2"
					ng-model="numberOfQuestions"/>
				</section>
				<input type="text" ng-repeat="i in [] | range:numberOfQuestions"
				class="form-control input-sm"
				id="{{$index+1}}"
				placeholder="Kross númer: {{$index+1}}"
				requied
				ng-maxlength=""/>

				<section class="saveExQuest">
					<button class="btn btn-primary"  type="button" ng-click="saveMult()"> Vista spuringu </button>
				</section>
			</section>
			
			<section class="saveTemp">
				<button class="btn btn-primary"  type="button" ng-click="saveTemplate()"> save template </button>
			</section>	
		</section>

	</section>




	<section class="right">
		<section class="courseList">
			<section ng-repeat="question in evaluationTemplate.CourseQuestions">
				{{question.TextIS}}
			</section>
		</section>

		<section class="teacherList">
			<section ng-repeat="question in evaluationTemplate.TeacherQuestions">
				{{question.TextIS}}
			</section>
		</section>
	</section>

</section>
