<section ng-controller="AdminGetTemplatesController" class="evalTemp">

	<section class="evalHead">
		<a href="#/admin">
			<button class="btn  btn-warning"  type="button" ng-click="sendEvaluation()"> Fara til baka </button>
		</a>

		<a href="#/">
			<button class="btn  btn-danger"  type="button" ng-click="sendEvaluation()"> Útskráning </button>
		</a>
	</section>

	<section class ="headEval">
		<h4 class="myTempsHeading">Mín sniðmát</h4>
	</section>

	<section class="tempBody">
		<section class="courseContainer">
			<section class="templates" ng-repeat="template in allTemplates" ng-click="showDateInput(template.ID, template.TitleIS)">
				<h6 class="templateText">{{template.TitleIS}}</h6>
			</section>
		</section>

		<section id="dateInput">
			<section class = "makeEv">
				<section class="makeEvHeading">
					<h10 class="myTempsHeading">Setja fyrir kennslumatið:  <span style="font-weight: bold; color:black;">{{currentTemplateName}}</span> </h10>
				</section>
				<section class= "startDate">
					<h10 class="myTempsHeading">Hvenær á það að hefjast? </h10>
						<input id="startDateInput" type="text" >
				</section>	
				<section class="endDate">
					<h10 class="
					myTempsHeading">Hvenær á það að enda?</h10>
						<input id="endDateInput" type="text" >
				</section>	

				<section class="dateButton">
					<a href="#/admin">
						<button class="btn  btn-info"  type="button" ng-click="sendEvaluation()"> send </button>
					</a>
				</section>

			</section>	
		</section>

	</section>
</section>