<section ng-controller="myCoursesController">
	<section class="courseContainer">

		<section class="createHead">
			<a href="#//my/courses">
				<button class="btn  btn-warning"  type="button" ng-click="sendEvaluation()"> Fara til baka </button>
			</a>

			<a href="#/">
				<button class="btn  btn-danger"  type="button" ng-click="sendEvaluation()"> Útskráning </button>
			</a>
		</section>

		<section class="header">
			<h6 class="currEvalHedings">{{currentEvalData.TitleIS}}</h6>
			<h7>{{currentEvalData.IntoTextIS}}</h7>
			
		</section>

		<section class="courseEval">
			
			<section class="textQuestions" ng-repeat="question in currentEvalData.CourseQuestions">

				<span ng-switch="question.Type">
					<section ng-switch-when="text">
						
						<h7 class="currEvalHedings">{{question.TextIS}}</h7>
						<input type="text"
									class="form-control input-sm"
									placeholder="svar"
									id="{{question.ID}}"
									name="svar"
									required
									ng-maxlength="32"/>
					</section>
				</span>
			</section>

			<section class="multQuestions" ng-repeat="question in currentEvalData.CourseQuestions">
				<span ng-switch="question.Type">
					<section ng-switch-when="multiple">
						<h7 class="currEvalHedings">{{question.TextIS}}</h7> 
						<label class="checkbox" ng-repeat="answer in question.Answers">
							</br>
							<input type="checkbox" value="" id="{{answer.ID}}" data-toggle="checkbox" >
							{{answer.TextIS}}
						</label>
					</section>
				</span>
			</section>
		</section>

		<section class="teacherEval">

			<section class="textQuestions" ng-repeat="question in currentEvalData.TeacherQuestions">
				<span ng-switch="question.Type">
					<section ng-switch-when="text">
						<h7 class="currEvalHedings">{{question.TextIS}}</h7>
						<input type="text"
									class="form-control input-sm"
									placeholder="svar"
									id="{{question.ID}}"
									name="svar"
									required
									ng-maxlength="32"/>
					</section>
				</span>
			</section>

			<section class="multQuestions" ng-repeat="question in currentEvalData.TeacherQuestions">
				<span ng-switch="question.Type">
					<section ng-switch-when="multiple">
						<h7 class="currEvalHedings">{{question.TextIS}}</h7>
						<label class="checkbox" ng-repeat="answer in question.Answers">
							</br>
							<input type="checkbox" id="{{answer.ID}}" data-toggle="checkbox">
							{{answer.TextIS}}
						</label>							
					</section>
				</span>
			</section>
		</section>
		

		<section class="saveEval">
			<button class="btn btn-primary"  type="button" ng-click="saveEval()"> save evaluation </button>
		</section>
	</section>	
</section>