<section ng-controller="LogInController" class="loginInput">
	<section class="loginHeader">
		<h3 class = "welcome">Námsmat<h3>
	</section>

	<section class="loginForm">
		<form name="loginForm" ng-mousedown="loginfailed = true" novalidate>
			<section class="loginUsername">
				<input type="text"
						class="form-control"
						placeholder="Enter your username"
						name="username"
						ng-model="userData.user"
						required
						ng-maxlength="32"/>
			</section>

			<section class="loginPassword">
			<input type="password"
					class="form-control"
					placeholder="password"
					name="password"
					ng-model="userData.pass"
					required
					ng-maxlength="6"/>
			</section>

	</section>

	<section class="submitLogin">
		<button class="btn btn-primary" type="submit" ng-click="logIn()">Skrá inn</button>
	</section>	

	<selection class="loginError">
		<h5 ng-hide = 'loginfailed'> Rangt notandanafn eða lykilorð! Prufaðu aftur</h5>
	</selection>
	
</section>